name: Build on Push

on:
  push:
    branches:
      - dev  # or use "*" for all branches
  pull_request:
    branches:
      - dev  # or use "*" for all branches

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # or any version your project needs

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build
